/* fonts */

$font-family-default: 'M PLUS Rounded 1c', sans-serif;
$font-family-decorative: 'Comfortaa', sans-serif;

$fs-h1: 48px;
$fs-h2: 40px;
$fs-h3: 32px;
$fs-h4: 24px;
$fs-main: 18px;
$fs-button: 16px;
$fs-secondary: 16px;

$lh-150: 150%;
$lh-135: 135%;
$lh-130: 130%;
$lh-120: 120%;