# Django
SECRET_KEY='t%s*m9c-&!2o)2h4%6mal7x53=da)t)(&-h4ffrn$a5hjklocy'
DEBUG=True

# Hosts
ALLOWED_HOSTS=tavrdesing.com.ua,www.tavrdesing.com.ua,nginx-proxy,studio,frontend
CSRF_TRUSTED_ORIGINS=https://tavrdesing.com.ua,https://www.tavrdesing.com.ua

# CORS
CORS_ALLOWED_ORIGINS=https://tavrdesing.com.ua,https://www.tavrdesing.com.ua
CORS_ALLOW_CREDENTIALS=True

# HTTPS
HTTPS=False
SECURE_SSL_REDIRECT=False  # nginx-proxy handles the redirect
SECURE_HSTS_SECONDS=3600
USE_X_FORWARDED_HOST=True
USE_X_FORWARDED_PORT=True
SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https

# Gmail
EMAIL_HOST_USER=notifications.assistant.v1@gmail.com
EMAIL_HOST_PASSWORD=twcs bcjd kaoy ybec
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
ADMIN_NOTIFICATION_EMAIL=danilsivkovic@gmail.com

# DB
POSTGRES_USER=designStudio
POSTGRES_PASSWORD=eyciqj9ipyjs7
POSTGRES_DB=designStudioDB
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
# CELERY_RESULT_BACKEND=redis://redis:6379/0
